.linkposts {
    margin: 10rem auto;
    width: 85%;
    background-color: #f7f7f7;
}

.linkpost_heading {
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
}

.linkpost_date {
    padding: 3rem 2rem;
    color: #00000055;
    position: relative;
}

.linkpost_date::before {
    content: "";
    position: absolute;
    top: 5.5rem;
    left: 50%;
    display: block;
    width: 95%;
    height: 0.01rem;
    background: #fcaf3b98;
    transform: translateX(-50%);
}

.linkpost_content {
    width: 85%;
    margin: 0 auto;
}

.linkpost_img img {
    padding-left: 11rem;
    width: 80%;
}

.linkpost_description {
    font-size: 20px;
    text-align: justify;
    padding: 2rem 0;
}

.linkpost_bt {
    margin: 2rem 5rem 0;
    padding: 1rem;
    text-align: center;
    border-top: 2px solid #fcaf3b;
    border-bottom: 2px solid #fcaf3b;
    width: 85%;
}

@media (max-width: 468px) {
    .linkposts {
        margin: 15rem auto;
        width: 95%;
    }

    .linkpost_heading {
        font-size: 50px;
        font-weight: 700;
        padding: 2rem 2rem 0;
    }

    .linkpost_date {
        font-size: 45px;
    }

    .linkpost_date::before {
        top: 7.5rem;
        height: 0.2rem;
    }

    .linkpost_content {
        width: 90%;
    }

    .linkpost_img img {
        padding: 0 2rem;
        width: 100%;
    }

    .linkpost_description {
        font-size: 37px;
        padding: 4rem 0;
    }

    .linkpost_bt {
        font-size: 37px;
    }
}