.bg {
    background-color: #f7f7f7;
    padding: 0.5rem 0;
}

.sntop {
    margin: 9rem auto 0;
    width: 80%;
    background-color: #fff;
    padding: 2rem;
}

.product_heading {
    font-size: 27px;
    font-weight: 600;
    color: #fcaf3b;
    margin-bottom: 10px;
    text-align: center;
    padding: 17px;
    position: relative;
}

.product_heading::before {
    content: "";
    position: absolute;
    top: 4.2rem;
    left: 50%;
    display: block;
    width: 100%;
    height: 0.01rem;
    background: #fcaf3b98;
    transform: translateX(-50%);
}

.product_heading::after {
    content: "";
    position: absolute;
    top: 4rem;
    left: 50%;
    display: block;
    width: 4rem;
    height: 0.2rem;
    background: #fcaf3b;
    transform: translateX(-50%);
}

.product_item {
    display: flex;
}

.slideshow-container {
    width: 60%;
    position: relative;
    margin: 1rem;
}

.product_Slides {
    display: none;
}

.product_img img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.imgbtn {
    text-align: center
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.product_content {
    width: 30%;
    padding: 2rem;
    height: 80%;
    border-left: 7px solid #fcaf3b;
}

.product_dg {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 0.1rem;
}

.product_star {
    font-size: 25px;
    font-weight: 300;
    color: #fcaf3b;
    padding-bottom: 0.3rem;
}

.product_map iframe {
    width: 400px;
    height: 300px;
}

.tabbar {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f7f7f7;
}

.mt>a {
    padding: 0 1.5rem;
    color: #fff;
    background-color: #fcaf3b;
}

.product_description {
    padding: 1rem;
    font-size: 17px;
    text-align: justify;
}

.product_convenients {
    padding: 1rem;
    font-size: 16px;
    color: #e0ac5d;
    display: flex;
    justify-content: center;
    border-bottom: 0.5rem solid #fcaf3b;
}

.product_convenient {
    padding: 0 2rem;
}


.product_services {
    display: flex;
    justify-content: space-around;
}

.product_service-heading {
    font-size: 20px;
    font-weight: 500;
    padding: 1rem;
}

.product_service-item {
    padding: 0.5rem 1rem;
}

.product_accommodations {
    display: flex;
    gap: 1rem;
}

.product_accommodation1 {
    padding: 1rem 7rem;
    width: 40rem;
    border-bottom: 3px solid #fcaf3b;
    text-align: center;
    text-align: justify;
}

.product_accommodation2 {
    padding: 1rem 10rem;
    width: 30rem;
    border-bottom: 3px solid #fcaf3b;
    text-align: justify;
}

.product_rules {
    margin-top: 1rem;
    border-radius: 1rem;
    border: 3px solid #fcaf3b;
}

.product_rule {
    display: flex;
    margin: 0 auto;
    width: 95%;
    border-bottom: 3px solid #fcaf3b;
}

.product_rulebt {
    display: flex;
    margin: 0 auto;
    width: 95%;
}

.product_rule1 {
    width: 50%;
    padding: 1rem 0 1rem 2rem;
}

.product_rule2 {
    width: 100%;
    padding: 1rem 15rem 1rem 0;
    text-align: justify;
}

@media (max-width: 468px) {
    .sntop {
        width: 95%;
        margin: 15rem auto 0;
    }

    .product_heading {
        font-size: 80px;
    }

    .product_heading::before {
        top: 8.5rem;
        height: 0.1rem;
    }

    .product_heading::after {
        top: 8.3rem;
        width: 10%;
        height: 0.7rem;
    }

    .product_item {
        flex-direction: column;
    }

    .slideshow-container {
        width: 100%;
        margin: 1rem auto;
    }

    .prev,
    .next {
        padding: 25px;
        font-size: 50px;
    }

    .imgbtn {
        text-align: center;
    }

    .dot {
        height: 30px;
        width: 30px;
    }

    .product_content {
        width: 100%;
    }

    .product_dg {
        font-size: 70px;
    }

    .product_star {
        font-size: 70px;
    }

    .product_address {
        font-size: 55px;
    }

    .product_map iframe {
        width: 100%;
        height: 600px;
    }

    .tabbar {
        font-size: 41px;
    }

    .product_description {
        padding: 2rem;
        font-size: 40px;
    }

    .product_convenients {
        font-size: 36px;
    }

    .product_convenient {
        padding: 0 2rem;
    }

    .product_service-heading {
        font-size: 40px;
    }

    .product_service-item {
        font-size: 36px;
    }

    .product_accommodation1 {
        font-size: 36px;
        width: 55rem;
        border-bottom: 4px solid #fcaf3b;
    }

    .product_accommodation2 {
        font-size: 36px;
        width: 35rem;
        border-bottom: 4px solid #fcaf3b;
    }

    .product_rules {
        margin-top: 1rem;
        border-radius: 1rem;
        border: 3px solid #fcaf3b;
    }

    .product_rule {
        border-bottom: 4px solid #fcaf3b;
    }

    .product_rule1 {
        font-size: 36px;
    }

    .product_rule2 {
        font-size: 36px;
    }
}